.Map {
  height: 100vh;
  width: 100vw;
}

.app-container{
  display: flex;
  justify-content: center;
}

.form-container{
  width: 45%;
}

.map-container {
  height: 100%;
  width: 55%;
}

.textfield-container {
  display: flex;
  margin-left: 10%;
}

.source-textfield,
.destination-textfield {
  flex: 1;
}

.navigation-icon{
  margin-left: -50px;
}

.icons-container{
  margin-top: 30px;
}

.submit-button{
  margin-top: 30px;
}

.metrictable-container{
  margin-top: 50px;
}